<div class="contact-form">
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Full Name</label>
        <input type="text" class="form-control" id="firstName" aria-describedby="firstName">&nbsp;
        <input type="text" class="form-control" id="lastName" aria-describedby="lastName" matInput>
        <small id="firstName" class="form-text text-muted">We'll use your name internaly and never share</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone">
        <small id="phone" class="form-text text-muted">We'll never share your phone with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="feedBack">Message</label>
        <textarea class="form-control" id="feedBack"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
