
<div class="content">
<div class="row">
  <div class="widget">
    <h3>Weather in {{(data | async)?.name }},{{ ((data | async)?.sys.country) }}</h3>
    <h3><img src="{{(data | async)?.weather[0].icon}}" width="50" height="50"/>{{ (data | async)?.main.temp }}</h3>
    <h3>{{ (data | async)?.weather[0].main }} ({{ (data | async)?.weather[0].description }})</h3>
    <div class="timeInfo"><h5>{{(data | async)?.dt }} <img src="../../assets/date.png" /></h5></div>
    <table>
      <tr>
        <tr><td class="widget-caption">Presure</td><td> {{ (data | async)?.main.pressure }} Hpa <img src="../../assets/pressure.png" /></td></tr>
        <tr><td class="widget-caption">Humidity</td><td> {{ (data | async)?.main.humidity }} %</td></tr>
        <tr><td class="widget-caption">Wind</td><td> {{ (data | async)?.wind.speed }} meter/second <img src="../../assets/windy.png" /></td></tr>
        <tr><td class="widget-caption">Cloudiness</td><td> {{ (data | async)?.clouds.all }}<img src="../../assets/coludiness.png" /></td></tr>
        <tr><td class="widget-caption">Visibility</td><td>{{ (data | async)?.visibility}} meter <img src="../../assets/visibility.png" /></td></tr>
        <tr><td class="widget-caption">Sunrise</td><td> {{ (data | async)?.sys.sunrise }}<img src="../../assets/sunrise.png" /></td></tr>
        <tr><td class="widget-caption">Sunset</td><td> {{ (data | async)?.sys.sunset }}<img src="../../assets/sunset.png" /></td></tr>
    </table>
    <div>&nbsp;</div>
    <div>
      <table>
      <tr><td><img src="../../assets/geo.png" />Geo Coordinates: [ <a href="#">{{ (data | async)?.coord.lon }}, {{ (data | async)?.coord.lat }}</a> ]
      </td></tr>
    </table>
    </div>
    <div id="getLocation" class="getLocation">
    </div>
  </div>
  <div>&nbsp;&nbsp;&nbsp;</div>
  <div class="widget-right">
  <h2 class="page-title">Weather and forecasts of the current location</h2>
    <mat-tab-group animationDuration="2000ms">
        <mat-tab label="Hourly"><app-hourly-container></app-hourly-container></mat-tab>
        <mat-tab label="Daily">Daily</mat-tab>
        <mat-tab label="Chart">Chart</mat-tab>
        <mat-tab label="Map">Map</mat-tab>
        <mat-tab label="Main">Main</mat-tab>
    </mat-tab-group>
  </div>
</div>
</div>

