
body {
  background-color: rgb(194, 203, 211) !important;
}

.logoText {
  color:orangered;
  font-family: sans-serif;
  font-weight: bold;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.nav-link {
  font-family: Helvetica Neue,Roboto,Arial,Droid Sans,sans-serif;;
}

.bg-light {
  background-color: rgb(216, 224, 231) !important;
}


